body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.main-content {
  padding: 100px 90px;
}
.about-me {
  margin-bottom: 40px;
}
.about-me-profession {
  color: #000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
  color: #000;
}
.about-me-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}
.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}
.my-projects-section {
  margin-bottom: 50px;
}
.my-projects-list {
  padding: 0 0 0 17px;
}
.my-projects-item {
  color: #000;
  font-weight: bold;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-bracket {
  color: #000;
  font-weight: bold;
}

.my-worke-xperiencep-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 0;
}
.my-worke-xperience-company {
  color: #fb6d3a;
}
.my-worke-xperience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.my-worke-xperience-devider {
  color: #000;
}
.my-worke-xperience-duties {
  padding: 0 0 0 18px;
}
.my-worke-xperience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-worke-xperience-company-blok {
  margin: 0 0 15px 0;
}
.my-worke-xperience-company-blok2 {
  margin: 0 0 20px 0;
}
.my-worke-xperience-company-blok3 {
  margin: 0 0 45px 0;
}
.my-education-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}
.my-education-university {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
  margin-top: 0;
}
.my-education-specializing {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 10px;
  margin-top: 0;
}
.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.my-education-devider {
  color: #000;
}
.sidebar {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}
.contacts,
.tech-skills,
.soft-skills {
  margin: 50px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}
.contacts-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 9px;
}
.contacts-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}
.skills-list {
  padding: 0 0 0 17px;
}
.skills-item {
  color: #fb6d3a;
}
.skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
